<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tnemec.mariasek.android" android:installLocation="auto" android:versionName="1.6.231" android:versionCode="231">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="33" />
	<!-- Tell the system this app requires OpenGL ES 2.0. -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<application android:label="Mariášek" android:icon="@mipmap/ic_launcher">
		<provider android:name="androidx.core.content.FileProvider" android:authorities="com.tnemec.mariasek.android.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
	<supports-screens android:resizeable="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
</manifest>