<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="15.0.0" targetFramework="monoandroid90" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="monoandroid90" />
  <package id="MonoGame.Framework.Android" version="3.6.0.1625" targetFramework="monoandroid44" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid44" />
</packages>