<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="players" type="Mariasek.WinSettings.PlayersConfigurationSection, Mariasek.WinSettings" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!-- enable TPL to run on all cores -->
  <runtime>
    <Thread_UseAllCpuGroups enabled="true"/>
    <GCCpuGroup enabled="true"/>
    <gcServer enabled="true"/>
  </runtime>
  <players>
    <!--<player1 name="Hrac1" type="Mariasek.Engine.New.DummyPlayer" assembly="Mariasek.Engine.New.dll" />
    <player2 name="Hrac2" type="Mariasek.Engine.New.DummyPlayer" assembly="Mariasek.Engine.New.dll" />-->
    <player1 name="Alpha" type="Mariasek.Engine.New.AiPlayer" assembly="Mariasek.Engine.New.dll">
      <parameter name="AiCheating" value="false" />
      <parameter name="RoundsToCompute" value="1" />
      <parameter name="CardSelectionStrategy" value="MaxCount" />
      <parameter name="SimulationsPerGameType" value="100" />
      <parameter name="SimulationsPerGameTypePerSecond" value="0" />
      <parameter name="SimulationsPerRound" value="1000" />
      <parameter name="SimulationsPerRoundPerSecond" value="0" />
      <parameter name="MaxSimulationTimeMs" value="3000" />
      <parameter name="RuleThreshold" value="90" />
      <parameter name="RuleThreshold.Kilo" value="99" />
      <parameter name="GameThreshold" value="75|80|85|90|95" />
      <parameter name="GameThreshold.Hra" value="0|50|70|85|95" />
      <parameter name="GameThreshold.Sedma" value="60|80|90|95|99" />
      <parameter name="GameThreshold.Kilo" value="85|87|90|95|99" />
      <parameter name="MaxDoubleCount" value="5" />
      <parameter name="SigmaMultiplier" value="2" />
    </player1>
    <player2 name="Bravo" type="Mariasek.Engine.New.AiPlayer" assembly="Mariasek.Engine.New.dll">
      <parameter name="AiCheating" value="false" />
      <parameter name="RoundsToCompute" value="1" />
      <parameter name="CardSelectionStrategy" value="MaxCount" />
      <parameter name="SimulationsPerGameType" value="100" />
      <parameter name="SimulationsPerGameTypePerSecond" value="0" />
      <parameter name="SimulationsPerRound" value="1000" />
      <parameter name="SimulationsPerRoundPerSecond" value="0" />
      <parameter name="MaxSimulationTimeMs" value="3000" />
      <parameter name="RuleThreshold" value="90" />
      <parameter name="RuleThreshold.Kilo" value="99" />
      <parameter name="GameThreshold" value="75|80|85|90|95" />
      <parameter name="GameThreshold.Hra" value="0|50|70|85|95" />
      <parameter name="GameThreshold.Sedma" value="60|80|90|95|99" />
      <parameter name="GameThreshold.Kilo" value="85|87|90|95|99" />
      <parameter name="MaxDoubleCount" value="5" />
      <parameter name="SigmaMultiplier" value="2" />
    </player2>
    <player3 name="Charlie" type="Mariasek.Engine.New.AiPlayer" assembly="Mariasek.Engine.New.dll">
      <parameter name="AiCheating" value="false" />
      <parameter name="RoundsToCompute" value="1" />
      <parameter name="CardSelectionStrategy" value="MaxCount" />
      <parameter name="SimulationsPerGameType" value="100" />
      <parameter name="SimulationsPerGameTypePerSecond" value="0" />
      <parameter name="SimulationsPerRound" value="1000" />
      <parameter name="SimulationsPerRoundPerSecond" value="0" />
      <parameter name="MaxSimulationTimeMs" value="3000" />
      <parameter name="RuleThreshold" value="90" />
      <parameter name="RuleThreshold.Kilo" value="99" />
      <parameter name="GameThreshold" value="75|80|85|90|95" />
      <parameter name="GameThreshold.Hra" value="0|50|70|85|95" />
      <parameter name="GameThreshold.Sedma" value="60|80|90|95|99" />
      <parameter name="GameThreshold.Kilo" value="85|87|90|95|99" />
      <parameter name="MaxDoubleCount" value="5" />
      <parameter name="SigmaMultiplier" value="2" />
    </player3>
  </players>
  <log4net>
    <!-- Appender definitions -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\LogFile.%date{yyyy-MM-dd_HHmmss}.log" />
      <appendToFile value="false"/>
      <immediateFlush value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;"/>
        <footer value="[Footer]&#xD;&#xA;"/>
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss,fff} [%t] %p %c{1}: %m%n"/>
      </layout>
    </appender>
    <!-- logger config -->
    <root>
      <!--<level value="FATAL" />-->
      <!--<level value="ERROR" />-->
      <!--<level value="WARN" />-->
      <level value="INFO" />
      <!--<level value="DEBUG" />-->
      <!--<level value="TRACE" />-->
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
</configuration>