<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="players" type="Mariasek.WinSettings.PlayersConfigurationSection, Mariasek.WinSettings" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <players>
    <!--<player1 name="Hrac1" type="Mariasek.Engine.New.DummyPlayer" assembly="Mariasek.Engine.New.dll" />
    <player2 name="Hrac2" type="Mariasek.Engine.New.DummyPlayer" assembly="Mariasek.Engine.New.dll" />-->
    <player1 name="Hrac1" type="Mariasek.Engine.New.AiPlayer" assembly="Mariasek.Engine.New.dll">
      <parameter name="AiCheating" value="true" />
      <parameter name="RoundsToCompute" value="1" />
      <parameter name="CardSelectionStrategy" value="MaxCount" />
      <parameter name="SimulationsPerRound" value="50" />
      <parameter name="RuleThreshold" value="80" />
      <parameter name="GameThreshold" value="80" />
    </player1>
    <player2 name="Hrac2" type="Mariasek.Engine.New.AiPlayer" assembly="Mariasek.Engine.New.dll">
      <parameter name="AiCheating" value="true" />
      <parameter name="RoundsToCompute" value="1" />
      <parameter name="CardSelectionStrategy" value="MaxCount" />
      <parameter name="SimulationsPerRound" value="50" />
      <parameter name="RuleThreshold" value="80" />
      <parameter name="GameThreshold" value="80" />
    </player2>
    <player3 name="Hrac3" type="Mariasek.Engine.New.AiPlayer" assembly="Mariasek.Engine.New.dll">
      <parameter name="AiCheating" value="true" />
      <parameter name="RoundsToCompute" value="1" />
      <parameter name="CardSelectionStrategy" value="MaxCount" />
      <parameter name="SimulationsPerRound" value="50" />
      <parameter name="RuleThreshold" value="80" />
      <parameter name="GameThreshold" value="80" />
    </player3>
  </players>
</configuration>