<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tnemec.mariasek.android" android:installLocation="auto" android:versionName="1.3.123" android:versionCode="123">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="26" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="Mariášek" android:icon="@mipmap/ic_launcher">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.tnemec.mariasek.android.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
	<supports-screens android:resizeable="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
</manifest>