<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="players" type="Mariasek.WinSettings.PlayersConfigurationSection, Mariasek.WinSettings" />
    <section name="smtpCredentials" type="Mariasek.TesterGUI.SmtpCredentialsSection, Mariasek.TesterGUI" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="Cheat" value="true"/>
    <add key="BaseBet" value="1" />
    <add key="SavePlayerDebugInfo" value="true"/>
    <add key="ShuffleCards" value="False"/>
    <add key="RotateStartingPlayer" value="False"/>
    <add key="StartingPlayerIndex" value="1"/>
    <add key="LogWindowFontSize" value="10"/>
    <add key="ScaleFactor" value="0.8"/>
    <add key="ShiftFactor" value="0.33"/>
    <add key="SkipBidding" value="False"/>
    <add key="BubbleTime" value="1000"/>
  </appSettings>
  <players>
    <player1 name="Hrac1" type="Mariasek.TesterGUI.HumanPlayer" assembly="Mariasek.TesterGUI.exe" />
    <player2 name="Hrac2" type="Mariasek.Engine.New.AiPlayer" assembly="Mariasek.Engine.New.dll">
      <parameter name="AiCheating" value="false" />
      <parameter name="RoundsToCompute" value="1" />
      <parameter name="CardSelectionStrategy" value="MaxCount" />
      <parameter name="SimulationsPerRound" value="250" />
      <parameter name="RuleThreshold" value="80" />
      <parameter name="GameThreshold" value="80|84|88|92|96" />
      <parameter name="MaxDoubleCount" value="2" />
    </player2>
    <player3 name="Hrac3" type="Mariasek.Engine.New.AiPlayer" assembly="Mariasek.Engine.New.dll">
      <parameter name="AiCheating" value="false" />
      <parameter name="RoundsToCompute" value="1" />
      <parameter name="CardSelectionStrategy" value="MaxCount" />
      <parameter name="SimulationsPerRound" value="250" />
      <parameter name="RuleThreshold" value="80" />
      <parameter name="GameThreshold" value="80|84|88|92|96" />
      <parameter name="MaxDoubleCount" value="2" />
    </player3>
  </players>
  <system.net>
    <mailSettings>
  	  <smtp deliveryMethod="network" from="user@domain.com">
        <network
          host="smtp.gmail.com"
          port="587"
          defaultCredentials="false"
          enableSsl="true"
        />
      </smtp>
  </mailSettings>
  </system.net>
<!--
  <smtpCredentials userName="user@domain.com" password="secret" />
-->
  <smtpCredentials userName="user@domain.com" password="secret" />
  <log4net>
    <!-- Appender definitions -->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;"/>
        <footer value="[Footer]&#xD;&#xA;"/>
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss,fff} [%t] %p %c{1}: %m%n" />
      </layout>
      <!-- only allow messages with the specified words to appear in this appender -->
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="task"/>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Task"/>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="thread"/>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Thread"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <!--
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception"/>
      </layout>
-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n" />
      </layout>
<!--      
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>
-->
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\LogFile.%date{yyyy-MM-dd_HHmmss}.log" />
      <appendToFile value="false"/>
      <immediateFlush value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;"/>
        <footer value="[Footer]&#xD;&#xA;"/>
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss,fff} [%t] %p %c{1}: %m%n"/>
      </layout>
    </appender>
    <appender name="NotifyAppender" type="Mariasek.Engine.New.Logger.NotifyAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]&#xD;&#xA;" />
        <param name="Footer" value="[Footer]&#xD;&#xA;" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <!-- logger config -->
    <root>
      <!--<level value="FATAL" />-->
      <!--<level value="ERROR" />-->
      <!--<level value="WARN" />-->
      <!--<level value="INFO" />-->
      <level value="DEBUG" />
      <!--<level value="TRACE" />-->
      <appender-ref ref="TraceAppender"/>
      <!--<appender-ref ref="ConsoleAppender"/>-->
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="NotifyAppender"/>
    </root>
  </log4net>
</configuration>